/* CSS for main pin board */
body {
  background-image: url("http://www.publicdomainpictures.net/pictures/30000/velka/cork-board.jpg");
}

div.pinboard > button {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* CSS for a polaroid object */
div.polaroid, div.polaroid-modal {
  height: 250px;
  width: 200px;
  background-color: #f2f2f2;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: small;
  color: #4d4d4d;
  padding: 10px 10px 10px 10px;
  position: absolute;
}

div.polaroid > img, div.polaroid-modal > img {
  height: 150px;
  width: 180px;
  border: thin dotted #cccccc;
}

div.polaroid > button, div.polaroid-modal > button {
  position: relative;
}

div.polaroid > p, div.polaroid-modal > p {
  width: 180px;
  overflow: hidden;
}

/* CSS for modal when adding a new polaroid */
div.background-modal {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

div.polaroid-modal {
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -100px;
}

div.polaroid-modal > input {
  height: 150px;
  width: 180px;
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

div.polaroid-modal > img {
  position: absolute;
}

div.polaroid-modal > p {
  position: relative;
  top: 150px;
  width: 180px;
  overflow: hidden;
}

div.polaroid-modal > button {
  position: relative;
  top: 150px;
}